#!/bin/bash
set -e

etcdctl set /secrets/aws_access_key_id XXXXX
etcdctl set /secrets/aws_secret_access_key yyyy

echo -n "dev.example.com" | etcdctl set /services/nginx/dns_name
echo -n "example.com" | etcdctl set /services/nginx/route53_zone


echo "-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----" | etcdctl set /services/nginx/ssl_cert

echo "-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----" | etcdctl set /services/nginx/ssl_key

# Tired of googling how to create a self signed cert? Me too.
make_self_signed_cert() {
  openssl genrsa -des3 -out server.key 1024
  openssl req -new -key server.key -out server.csr
  cp server.key server.key.org
  openssl rsa -in server.key.org -out server.key
  openssl x509 -req -days 365 -in server.csr -signkey server.key -out server.crt
  cat server.crt | etcdctl set /services/nginx/ssl_cert
  cat server.key | etcdctl set /services/nginx/ssl_key
}
# make_self_signed_cert
