#!/bin/bash
set -e

etcdctl set /secrets/aws_access_key_id XXXXX
etcdctl set /secrets/aws_secret_access_key yyyy

echo -n "dev.example.com" | etcdctl set /services/nginx/dns_name
echo -n "example.com" | etcdctl set /services/nginx/route53_zone


echo "-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----" | etcdctl set /services/nginx/ssl_cert

echo "-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----" | etcdctl set /services/nginx/ssl_key
