[gerrit]
        basePath = git
        canonicalWebUrl = @@GERRIT_URL@@
[database]
        type = postgresql
        hostname = @@POSTGRES_SERVER@@
        database = reviewdb
        username = gerrit2
        poolLimit = 20
[auth]
        type = HTTP
        httpHeader = X-Remote-User
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit2
        javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = proxy-https://*:8080/
[cache]
        directory = cache
[receive]
        checkReferencedObjectsAreReachable = false