[Unit]
Description=gerrit
#BindsTo=gerrit-postgres-ambassador@%i.service
#BindsTo=gerrit-data-volume@%i.service
After=gerrit-postgres-ambassador@%i.service
After=gerrit-data-volume@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull crewjam/gerrit
ExecStart=/bin/bash -c '\
  /usr/bin/docker run --rm --name %p \
    crewjam/gerrit'
ExecStop=/usr/bin/docker stop %p
TimeoutStartSec=0

[X-Fleet]
X-Conflicts=gerrit@*.service
#X-ConditionMachineOf=gerrit-postgres-ambassador@%i.service
#X-ConditionMachineOf=gerrit-data-volume@%i.service
